.invalid-page {


min-height:100vh;


display:flex;


align-items:center;


justify-content:center;


padding:20px;


background:

linear-gradient(
135deg,
#eff6ff,
#f8fafc
);



}




.invalid-card {


width:100%;


max-width:450px;


background:white;


padding:40px 30px;


border-radius:28px;


text-align:center;


box-shadow:

0 25px 60px rgba(0,0,0,.15);



animation:

fadeIn .4s ease;



}



.icon-box {


width:90px;


height:90px;


margin:auto;


border-radius:50%;


display:flex;


align-items:center;


justify-content:center;


background:

linear-gradient(
135deg,
#ef4444,
#dc2626
);


color:white;



mat-icon {


font-size:50px;


width:50px;


height:50px;


}



}





h1 {


margin-top:25px;


font-size:28px;


color:#1e293b;


}



p {


color:#64748b;


font-size:16px;


line-height:1.6;


}







.info-box {


margin:25px 0;


padding:18px;


display:flex;


align-items:center;


gap:12px;


text-align:left;


border-radius:18px;


background:#fef2f2;


color:#991b1b;


}



.info-box mat-icon {


color:#dc2626;


}






button {


margin-top:20px;


height:50px;


padding:0 30px;


border-radius:15px;


font-weight:600;


}





@keyframes fadeIn {


from {


opacity:0;


transform:translateY(20px);


}


to {


opacity:1;


transform:none;


}



}
